<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/General" xdt:Transform="Replace" />
  </system.web>
  <appSettings>
    <add key="app:Environment" value="Production" xdt:Transform="SetAttributes(value)" />
    <add key="app:MaintenanceMode" value="false" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <log4net>
    <root>
      <level value="ERROR" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="server=production-db;port=3306;database=BusTravelDB;uid=prod_user;pwd=CHANGE_ME_IN_PRODUCTION;convert zero datetime=True;allow user variables=True;charset=utf8mb4;"
         xdt:Transform="SetAttributes(connectionString)" />
  </connectionStrings>
</configuration>
