<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
    <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=BusTravelDB;uid=root;pwd=root;convert zero datetime=True;allow user variables=True;charset=utf8mb4;" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="app:Title" value="BusTravel Management" />
    <add key="app:ContactEmail" value="support@bustravel.local" />
    <add key="app:ContactPhone" value="+1-800-BUS-TRIP" />
    <add key="app:CompanyName" value="BusTravel Inc." />
    <add key="app:DefaultPageSize" value="10" />
    <add key="app:MaxRetryAttempts" value="3" />
    <add key="app:BookingTimeoutMinutes" value="15" />
    <add key="app:CancellationWindowHours" value="24" />
    <add key="app:RefundPercentage" value="75" />
    <add key="app:DateFormat" value="dd MMM yyyy" />
    <add key="app:TimeFormat" value="hh:mm tt" />
    <add key="app:DateTimeFormat" value="dd MMM yyyy hh:mm tt" />
    <add key="app:CurrencySymbol" value="₹" />
    <add key="app:CurrencyCode" value="INR" />
    <add key="app:TaxPercentage" value="5" />
    <add key="app:ConvenienceFee" value="20" />
    <add key="app:GSTPercentage" value="5" />
    <add key="app:MaxSeatsPerBooking" value="6" />
    <add key="app:MinAgeForTravel" value="1" />
    <add key="app:MaxAgeForTravel" value="120" />
    <add key="app:SessionTimeoutMinutes" value="30" />
    <add key="app:RememberMeDays" value="14" />
    <add key="app:EmailFromAddress" value="noreply@bustravel.local" />
    <add key="app:EmailFromName" value="BusTravel Support" />
    <add key="app:SmtpHost" value="smtp.bustravel.local" />
    <add key="app:SmtpPort" value="587" />
    <add key="app:SmtpEnableSsl" value="true" />
    <add key="app:SmtpUserName" value="" />
    <add key="app:SmtpPassword" value="" />
    <add key="app:EnableSms" value="false" />
    <add key="app:SmsProvider" value="" />
    <add key="app:SmsApiKey" value="" />
    <add key="app:SmsSenderId" value="BUSTRL" />
    <add key="app:EnableEmailNotifications" value="true" />
    <add key="app:EnableSmsNotifications" value="false" />
    <add key="app:PaymentGateway" value="Mock" />
    <add key="app:StripeSecretKey" value="" />
    <add key="app:StripePublishableKey" value="" />
    <add key="app:RazorpayKeyId" value="" />
    <add key="app:RazorpayKeySecret" value="" />
    <add key="app:PayPalClientId" value="" />
    <add key="app:PayPalClientSecret" value="" />
    <add key="app:PayPalMode" value="Sandbox" />
    <add key="app:EncryptionKey" value="YourEncryptionKeyHere-Min32Chars!" />
    <add key="app:EncryptionIV" value="YourIV16CharHere" />
    <add key="app:JwtSecretKey" value="YourSuperSecretJwtKeyForBusTravelAppMustBeLong!" />
    <add key="app:JwtIssuer" value="BusTravelManagement" />
    <add key="app:JwtAudience" value="BusTravelManagementUsers" />
    <add key="app:JwtExpiryHours" value="24" />
    <add key="app:QRCodeSize" value="200" />
    <add key="app:TicketPdfPassword" value="" />
    <add key="app:Environment" value="Development" />
    <add key="app:Version" value="1.0.0" />
    <add key="app:BuildNumber" value="1" />
    <add key="app:MaintenanceMode" value="false" />
    <add key="app:MaintenanceMessage" value="Site is under maintenance. Please check back later." />
  </appSettings>


 
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <add assembly="System.Web.Mvc, Version=5.2.9.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Optimization, Version=1.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="WebGrease, Version=1.6.5135.21930, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Antlr3.Runtime, Version=3.5.0.2, Culture=neutral, PublicKeyToken=eb42632606e9261f" />
        <add assembly="Newtonsoft.Json, Version=13.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed" />
        <add assembly="Microsoft.Owin, Version=4.2.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Owin.Security, Version=4.2.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Owin.Security.Cookies, Version=4.2.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Owin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f0ebd12fd5e55cc5" />
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <httpRuntime targetFramework="4.8" maxRequestLength="10485760" requestValidationMode="4.5" />
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="30">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ErrorLog" type="log4net.HttpAppender, log4net" />
    </httpModules>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/General">
      <error statusCode="403" redirect="~/Error/AccessDenied" />
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error/General" />
    </customErrors>
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <trace enabled="false" />
    <pages controlRenderingCompatibilityVersion="4.5">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="BusTravelManagement" />
        <add namespace="BusTravelManagement.Models" />
        <add namespace="BusTravelManagement.Models.ViewModels" />
        <add namespace="BusTravelManagement.Utilities.Helpers" />
        <add namespace="BusTravelManagement.Utilities.Constants" />
        <add namespace="BusTravelManagement.Security" />
      </namespaces>
    </pages>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="HMACSHA256" decryption="AES" />
  </system.web>

  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlMappingsModule" />
      <remove name="FormsAuthentication" />
      <remove name="UrlAuthorization" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.4.0.0" newVersion="8.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.4.0" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\bustravel-%date{yyyy-MM-dd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="30" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <threshold value="ERROR" />
      <bufferSize value="1" />
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <connectionString value="server=localhost;port=3306;database=BusTravelDB;uid=root;pwd=your_password;charset=utf8mb4;" />
      <commandText value="INSERT INTO AuditLogs (Action, EntityType, EntityId, UserId, OldValues, NewValues, IpAddress, UserAgent, CreatedAt) VALUES (@Action, @EntityType, @EntityId, @UserId, @OldValues, @NewValues, @IpAddress, @UserAgent, @CreatedAt)" />
      <parameter>
        <parameterName value="@Action" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout" value="%property{Action}" />
      </parameter>
      <parameter>
        <parameterName value="@EntityType" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout" value="%property{EntityType}" />
      </parameter>
      <parameter>
        <parameterName value="@EntityId" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout" value="%property{EntityId}" />
      </parameter>
      <parameter>
        <parameterName value="@UserId" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout" value="%property{UserId}" />
      </parameter>
      <parameter>
        <parameterName value="@OldValues" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout" value="%property{OldValues}" />
      </parameter>
      <parameter>
        <parameterName value="@NewValues" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout" value="%property{NewValues}" />
      </parameter>
      <parameter>
        <parameterName value="@IpAddress" />
        <dbType value="String" />
        <size value="45" />
        <layout type="log4net.Layout.PatternLayout" value="%property{IpAddress}" />
      </parameter>
      <parameter>
        <parameterName value="@UserAgent" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout" value="%property{UserAgent}" />
      </parameter>
      <parameter>
        <parameterName value="@CreatedAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\errors-%date{yyyy-MM-dd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ErrorAppender" />
    </root>
  </log4net>

  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework" />
    </providers>
    <defaultConnectionFactory type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
  </entityFramework>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:Default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008;40000;40008" />
    </compilers>
  </system.codedom>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".NET Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.4.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
